## TUPLES

Immutable / 
Static /
Heterogeneous /
Hashable /
Ordered

In [16]:
tpl = (10,20,30,40,10)
# print(tpl)
# print(type(tpl))
# print(tpl.count(10)) # it will return no. of items the item is repeated
# tpl.index(20) # returns the index position of given item
# print(tpl * 2) # replicates the item for n times

2
(10, 20, 30, 40, 10, 10, 20, 30, 40, 10)

In [1]:
student_marks = (56,67)
# print(student_marks[0]) # slicing of tuple
# student_marks[0] = 18 # immutable
print(student_marks[0])

56

<h3>Tuple Unpacking</h3>

In [24]:
# Tuple unpacking method
student_marks = (56,67,78)
rohit, mohit, rahul = student_marks # assigning copied tuple values to rohit and mohit
print(rohit)
print(mohit)
print(student_marks)

56
67
(56, 67, 78)

In [31]:
l = list(range(1,10))
print(l)
t = tuple(range(1,10))
print(t)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
(1, 2, 3, 4, 5, 6, 7, 8, 9)

## SETS

Mutable / Unordered / Unique Elements / Dynamic / Efficient Membership Testing

<h3>Frozen Sets</h3>

In [ ]:
frozen = frozenset([1, 2, 3])
# frozen.add(4)  # This will raise an AttributeError because frozenset is immutable

In [33]:
set = {10,34,45,33,67}
print(set)

{33, 34, 67, 10, 45}

In [1]:
st = {10,85,65,45,72,72,72,72}
st.add(50) # to add single elements
print(st)

{65, 50, 85, 72, 10, 45}

In [2]:
st = {10,85,65,45,72,72,72,72}
st.update([4,5]) # to add multiple elements at once
print(st)
st.update({6,7})
print(st)

{65, 4, 85, 5, 72, 10, 45}
{65, 4, 5, 6, 7, 72, 10, 45, 85}

In [9]:
st = {10,85,65,45,72,72,72,72}
st.pop() # removes random item
print(st)

{85, 72, 10, 45}

In [12]:
st = {10,85,65,45,72,72,72,72}
st.remove(45) # removes specific element and raises KeyError if element is not present
print(st)

{65, 85, 72, 10}

In [22]:
st = {10,85,65,45,72,72,72,72}
st.discard(65) # removes specific element and returns nothing if element is not present
print(st)

{85, 72, 10, 45}

In [38]:
st = {10,85,65,45,72,72,72,72}
st.clear() # clears or removes all elements of set
print(st)

set()

In [25]:
st1 = {10,85,65,45,72,72,72,72}
st2 = {10,85,62,88}
print(st1.difference(st2)) # returns set of elements which are only present in st1
print(st2.difference(st1)) # returns set of elements which are only present in st2
print(st1.intersection(st2)) # returns common elements of st1 and st2
print(st1.union(st2)) # unites all elements

{72, 65, 45}
{88, 62}
{10, 85}
{65, 72, 10, 45, 85, 88, 62}

In [32]:
st1 = {10,85,65,45,72,72,72,72}
st2 = {10,85,45}

st2.issubset(st1) # checks for subset

True

In [35]:
st1 = {10,85,65,45,72,72,72,72}
st2 = {10,85,65}

st1.issuperset(st2) # returns TRUE iff all elements of st2 are in st1
# st2.issuperset(st1)

False

In [37]:
st1 = {10,85,65,45,72,72,72,72}
st2 = {23,44,32,67}

st1.isdisjoint(st2) # returns TRUE if both sets have uncommon elements

True

In [42]:
ls = [10,20,30,30,40,10,50,10,20,7,77,88,88,99,7,2]
# To remove all duplicates in the list, typecast the list to set and then to list again
ls = set(ls)
ls = list(ls)
print(ls)

[2, 99, 7, 40, 10, 77, 50, 20, 88, 30]

## <h2>Completed!!</h2>